.body{
    font-family: 'Times New Roman', Times, serif;
}
.left-nav{
    float: left;
}
.nav{
    display: block;
}
.right-nav{
    float: right;
}
.nav-links{
    color: rgb(65, 61, 61);
}
nav a{
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

#sign-in-btn{
    color: white;
    background-color: rgb(48, 134, 248);
    font-weight: bold;
    border-radius: 4px;
    height:35px ;
    width: 80px;
    border:none;
    
}
header{
padding: 10px;
}


#magnify{    
        height: 20px;
        width: 20px;
        position: relative;
        top: 10px;
        right: 495px;
    }

#microphone {
    position: relative;
    top: 5px;
    right: 74px;
    height: 20px;
}

#search {
    font-size: 16px;
    height: 38px;
    width: 460px;
    border-radius: 25px;
    padding: 3px;
    border: 1px solid lightgray;
    padding-left: 50px;
}
.searchbar {
    text-align: center;
    padding-top: 20px;
    margin-left: 60px;
}
#google {
    height: 95px;
    width: 272px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.btn-div {
    text-align: center;
    padding-top: 30px;
}
#search-btn{
        height: 40px;
        width: 150px;
        border: hidden;
        border-radius: 5px;
        color: #868c93;
        margin-right: 8px;
    }
#feeling-btn{
    height: 40px;
    width: 150px;
    border: hidden;
    border-radius: 5px;
    color: #868c93;
}
#language {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
#language a{
    color: blue;
}
.country {
    border-bottom: 2px solid #e4e4e4;
    margin-left: 16px;
    color: #5f6368;
}
.footer-links {
    color: #5f6368;
}
.left-footer-nav{
    float: left;
}
.right-footer-nav {
    float: right;
    margin-right: 25px;
}
footer {
    width: 100%;
    padding-left: 5px;
    background-color: #f1ebeb;
    line-height: 50px;
    font-size: 16px;
    position: fixed;
    bottom: 0;
}
footer{
    display: block;
}
